
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

ul {
    list-style: disc; /* Para viñetas redondas */
    color: black;
    /* Otra opción: list-style: square; para viñetas cuadradas */
}

body{
font-family: 'Lora', serif;
}

.titulo{
    color:black;
    font-size:45px;
    text-align: center;
    margin-bottom: 60px;
}

.icon {
    width: 100px;
    transition: all 0.3s ease; /* Agrega una transición suave para un efecto más agradable */
}

.icon:hover {
    width: 110px;    
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:aliceblue;
    font-weight: 300; /*Hará la letra más ligera*/
    text-decoration: none; /*Le quita el subrayado*/
    margin-right: 15px; /*Le da un espaciado*/
    text-align: center;
    justify-content: center;
    font-size: 150%;    
        
}

nav > a:hover {
    text-decoration: none;
    /* Si el cursor está encima de los enlaces se subrayan */
    color: aliceblue;
    font-size: 1.2em; /* Ajusta el tamaño de la fuente al pasar el ratón */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega sombra al texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wave{
    position: absolute;
    bottom: -1%; /*Indica que tan pegado esta el objeto del contenedor*/
    width: 100%;    
}

/* Alinea el logo-header a la izquierda de la pantalla */
.logo-header {
    width: 350px;
    position: absolute;
    left: 40px;
    top: 20%; /* Otra opción puede ser bottom: 50%; para alinear desde abajo */
    transform: translateY(-50%);
}

/* Estilo para el contenedor del texto */
header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* Asegúrate de que el texto no se vea afectado por la posición absoluta del logo */
    position: relative;
    margin-left: /* Ancho del logo más un espacio adicional */;
}


.textos-header h1{
    font-family: 'Lora',serif;
    font-size: 50px;
    color:white;
    }

.textos-header h2{
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight: 300; /*Anchura de la fuente*/
    color:white;
}

/* ESTILOS DE TARJETAS Y OTROS DISEÑOS */
/*About us*/
.imagen-grupos {
    width: 100%;     
    height:auto;  
    border-radius: 40% 60% 61% 39% / 53% 50% 50% 47%;  
}

main .sobre-nosotros {
    padding: 0px 0 0 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.contenido-texto h3 {
    margin-bottom: 15px;
}

.contenido-texto h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 1px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
    font-size: 25px;
}

.contenido-texto p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/*Contendor de las tarjetas*/

.contenedor-tarjetas
{
    padding: 60px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;    
    
}

.tarjeta
{
  padding: 0px 0px 30px 0px;
  
}

.card
{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.card-body
{
    text-align: center;
    align-items: center;
}

/*Sección de avisos*/

/*carrusel*/
.contenedor-carrusel-enlaces
{
    
    padding: 60px 0px 60px 0px;
}

/*Enlaces de descargas*/
.enlaces
{
    background: #8A2387;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, hsla(23, 89%, 54%, 0.63), hsla(352, 79%, 58%, 0.603));
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(23, 89%, 54%, 0.637), hsla(352, 79%, 58%, 0.603));
        padding-top: 10px;
        padding-bottom: 10px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
           
}

.titulo-enlaces
{
        font-family: 'Lora', serif;
        font-size: 30px;  
        color: #fff;        
}

.contenedor-botones
{
        padding-top: 15px;
        padding-bottom: 5%;
}

.boton-enlaces
{
    align-items: center;
    text-decoration: none;
        /*No hay decoración en el texto*/
        border: none;
        /*No hay borde en el botón*/
        background-color:#878685;
        /*Color del botón VERDE*/
        text-align: center;
        /*El texto esta centrado sobre su respectiva linea*/ 
        font-size: 15px;
        /*Es el tamaño de las letras*/
        cursor: pointer;
        /*El cursor a usar será apuntador, la manita*/
        width: 250px;
            /*Anchura del botón*/
        height: 35px;         
        margin: 5px;
            /*Le da un espaciado*/
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
        color:white;
}

.boton-enlaces:hover
{
    background-color: #A09D9C;
    box-shadow: 0 0 0px 0 rgba(0, 0, 0, .5);
}

/* DISEÑO DE BOTÓN Y FORMULARIO DE REGISTRO CATEQUESIS */
button
{
        text-decoration: none;
        /*No hay decoración en el texto*/
        border:none;
        border-radius: 100px;
        background: #DA4453;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #89216B, #DA4453);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #89216B, #DA4453);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        text-align: center;
        /*El texto esta centrado sobre su respectiva linea*/       
        cursor: pointer;
        /*El cursor a usar será apuntador, la manita*/
        width: 200px;
        /*Anchura del botón*/
        height:40px;        
        /*Le da un espaciado*/
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
        color: white;
        
        
       
}

button:hover
{
background: #DA4453;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(317, 61%, 33%, 0.863), hsla(354, 67%, 56%, 0.877));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(317, 61%, 33%, 0.849), hsla(354, 67%, 56%, 0.87));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.enlace-boton
{
    align-items: center;
    text-align: center;
    padding-top: 50px; 
     
    
}

section
{
    padding: 40px;
}

/*cambio de Backgound para secciones pares*/

.group{
        flex-direction: row-reverse;
        /* Cambia la dirección para eventos pares */
    }

/*Formulario*/

.form{
margin:5%;
align-items: center;
text-align: center;
}

.form h4 {
font-size: 60px;
margin-bottom: 20px;
text-align: center;
}

.controles {
width: 500px;
background: white;
padding: 10px;
border-radius: 4px;
margin-bottom: 15px;
border: 1px solid grey;
font-family: 'calibri';
font-size: 20px;
}

.form p {
height: 40px;
text-align: center;
font-size: 18px;
padding: 3%;
}

.form a {
color: white;
text-decoration: none;
}

.form a:hover {
color: white;
text-decoration: underline;
}

.form .botones {
width: 100%;
background: #16DE43;
border: none;
padding: 12px;
color: white;
margin: 16px 0;
font-size: 16px;

}

.form .botones:hover {
background: #149D33;
}

/* LÍNEA Y CONTENEDORES PARA LOS GRUPOS PARROQUIALES */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    font-size: 56px;    
    text-transform: uppercase;
    /*Hace que las letras sean mayusculas*/
    position: relative;
}

.container {
    /*Modifica todo*/
    width: 100%;
    max-width: 1100px;
    /*modifica el ancho de las fotos*/
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.evento {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.evento::after {
    /* Elimina el círculo central en tamaños pequeños */
    display: none;
}

.des_grupo {
    width: 80%;
    text-align: center;
    margin: 5% 10% 0% 10%;
}

.des_grupo h3 {
    font-size: 20px;
}

.des_grupo p {
    font-size: 16px;
}

.foto {
    /*Borde de las fotos*/
    width: 80%;
    border: 10px solid #fff;
    position: relative;
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, .6);
    /*Sombra detras de la foto*/
}

.foto::after {
    /* Elimina el triángulo en tamaños pequeños */
    display: none;
}

.foto img {
    width: 100%;
}

@media (min-width: 768px) {
    .evento {
        display:flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .evento:nth-child(even) {
        flex-direction: row-reverse;
        /* Cambia la dirección para eventos pares */
    }

    .evento::after {
        display: block;
    }

    .des_grupo {
        width: 45%;
    }

    .foto {
        width: 42%;
    }

    .foto::after {
        display: block;
    }
}


/* footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }}

/* Alert */
/* Agrega estilos según tus preferencias */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



