*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
font-family: 'Lora', serif;
}

.contenedor{
    padding: 60px; /*Establece el área de relleno en los cuatro lados de un elemento a la vez*/
    /*En pocas palabras deja un espaciado de 60px entre cada contenedor*/
    width: 90%; /*El tamaño de los elementos del contenedor tienen un tamaño del 90%*/
    max-width:1000px ; /*Va a colocar un margen al contenido de la página*/
    margin: auto;
    overflow: hidden; /*El contenido que se salga del margen lo recorta*/
}

.titulo{
    color:black;
    font-size:45px;
    text-align: center;
    margin-bottom: 60px;
}

/*Header*/
header{
    width: 100%;
    height: 600px;
    background: #8A2387;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, hsla(23, 89%, 54%, 0.63), hsla(352, 79%, 58%, 0.603)),
            url(../img/ins2.jpg);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(23, 89%, 54%, 0.637), hsla(352, 79%, 58%, 0.603)),url(../img/ins2.jpg);/*Aquí esta el enlace de la imagen de fondo*/
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-attachment: fixed;
        position:relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:aliceblue;
    font-weight: 300; /*Hará la letra más ligera*/
    text-decoration: none; /*Le quita el subrayado*/
    margin-right: 15px; /*Le da un espaciado*/
    text-align: center;
    justify-content: center;
    
        
}

nav>a:hover {   
    text-decoration: underline;
    /*Si el cursor esta encima de los enlaces se subrayan*/
    }

.wave{
    position: absolute;
    bottom: -1%; /*Indica que tan pegado esta el objeto del contenedor*/
    width: 100%;    
}

header .textos-header{
    display:flex;
    height: 430px; /*Altura a la que queda el texto*/
    width: 100%;
    align-items: left; /*Organiza al texto en el eje x*/
    justify-content:center ; /*Organiza el texto en el eje y*/
    flex-direction: column; /*Permite a los renglones ponerse unos debajo de otros*/
    text-align: center;

}

.textos-header h1{
    font-family: 'Lora',serif;
    font-size: 50px;
    color:white;
    }

.textos-header h2{
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight: 300; /*Anchura de la fuente*/
    color:white;
}

/*About us*/
.imagen-grupos {
    width: 100%;     
    height:auto;  
    border-radius: 40% 60% 61% 39% / 53% 50% 50% 47%;  
}

main .sobre-nosotros {
    padding: 0px 0 0 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.contenido-texto h3 {
    margin-bottom: 15px;
}

.contenido-texto h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 1px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
    font-size: 25px;
}

.contenido-texto p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*Contendor de las tarjetas*/

.contenedor-tarjetas
{
    padding: 60px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;    
    
}

.tarjeta
{
  padding: 0px 0px 30px 0px;
  
}

.card
{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.card-body
{
    text-align: center;
    align-items: center;
}

/*Sección de avisos*/

/*carrusel*/
.contenedor-carrusel-enlaces
{
    
    padding: 60px 0px 60px 0px;
}

/*Enlaces de descargas*/
.enlaces
{
    background: #8A2387;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, hsla(23, 89%, 54%, 0.63), hsla(352, 79%, 58%, 0.603)),
            url(../img/ins2.jpg);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(23, 89%, 54%, 0.637), hsla(352, 79%, 58%, 0.603));
        padding-top: 10px;
        padding-bottom: 10px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
           
}

.titulo-enlaces
{
        font-family: 'Lora', serif;
        font-size: 40px;  
        color: #fff;        
}

.contenedor-botones
{
        padding-top: 10px;
        padding-bottom: 10px;
}

.boton-enlaces
{
    align-items: center;
    text-decoration: none;
        /*No hay decoración en el texto*/
        border: none;
        /*No hay borde en el botón*/
        background-color:#878685;
        /*Color del botón VERDE*/
        text-align: center;
        /*El texto esta centrado sobre su respectiva linea*/ 
        font-size: 20px;
        /*Es el tamaño de las letras*/
        cursor: pointer;
        /*El cursor a usar será apuntador, la manita*/
        width: 500px;
            /*Anchura del botón*/         
        margin: 6px;
            /*Le da un espaciado*/
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
        color:white;
}

.boton-enlaces:hover
{
    background-color: #A09D9C;
    box-shadow: 0 0 0px 0 rgba(0, 0, 0, .5);
}

/*Parroco y vicario*/

.cards-parroco .card-parroco {
    background: #8A2387;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, hsla(23, 89%, 54%, 0.63), #e93f56d0),
            url(../img/ins2.jpg);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(23, 89%, 54%, 0.719), hsla(352, 79%, 58%, 0.788));

    display: flex;
    width: 100%; 
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    align-items: center;    
}

.cards-parroco .card-parroco img {
    width:390px;
    height:390px;
    object-fit: cover;
    border: 5px solid #fff;
    border-radius: 1000%;    
    margin:10px;
    align-items: center;    
      
}

.contenido-texto-card {
    width: 100%;
    color: #fff;       
}

.name-p
{
text-align: center;
font-weight: 200;
}

.sub-name-p
{
color: white;
text-align: center;
padding-top: 15px;
padding-bottom: 0px;
}




/* footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px) {
    header {
        background-position: center;
    }}