* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
}

.contenedor {
    padding: 60px;
    /*Establece el área de relleno en los cuatro lados de un elemento a la vez*/
    /*En pocas palabras deja un espaciado de 60px entre cada contenedor*/
    width: 90%;
    /*El tamaño de los elementos del contenedor tienen un tamaño del 90%*/
    max-width: 1000px;
    /*Va a colocar un margen al contenido de la página*/
    margin: auto;
    overflow: hidden;
    /*El contenido que se salga del margen lo recorta*/
}

.titulo {
    color: black;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
}

/*Header*/
header {
    width: 100%;
    height: 600px;

    background: #DA4453;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(236, 53%, 37%, 0.705), hsla(354, 67%, 56%, 0.705));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(317, 61%, 33%, 0.705), hsla(56, 67%, 56%, 0.466)),
        url(../img/4.png);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a {
    color: aliceblue;
    font-weight: 300;
    /*Hará la letra más ligera*/
    text-decoration: none;
    /*Le quita el subrayado*/
    margin-right: 15px;
    /*Le da un espaciado*/
    text-align: center;
    justify-content: center;


}

nav>a:hover {
    text-decoration: underline;
    /*Si el cursor esta encima de los enlaces se subrayan*/
}

.wave {
    position: absolute;
    bottom: -1%;
    /*Indica que tan pegado esta el objeto del contenedor*/
    width: 100%;
}

header .textos-header {
    display: flex;
    height: 430px;
    /*Altura a la que queda el texto*/
    width: 100%;
    align-items: left;
    /*Organiza al texto en el eje x*/
    justify-content: center;
    /*Organiza el texto en el eje y*/
    flex-direction: column;
    /*Permite a los renglones ponerse unos debajo de otros*/
    text-align: center;

}

.textos-header h1 {
    font-family: 'Lora', serif;
    font-size: 50px;
    color: white;
}

.textos-header h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight: 300;
    /*Anchura de la fuente*/
    color: white;
}

/*Línea*/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    font-size: 56px;    
    text-transform: uppercase;
    /*Hace que las letras sean mayusculas*/
    position: relative;
}

.container {
    /*Modifica todo*/
    width: 100%;
    max-width: 1100px;
    /*modifica el ancho de las fotos*/
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container::after {
    /*La linea*/
    content: "";
    width: 10px;
    height:95%;
    background: #DA4453;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to up, hsla(236, 53%, 37%, 0.705), hsla(354, 67%, 56%, 0.705));
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to down, hsla(317, 61%, 33%, 0.705), hsla(56, 67%, 56%, 0.466));
    position: absolute;
    top: 5%;    
    left: calc(50% - 1px);
    z-index: 1;    
}

.evento {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    position: relative;
}

.evento::after {
    /*El círculo que esta en la linea*/
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background: #DCDFD9;
    border: 2px solid #1b3231;
    position: absolute;
    z-index: 2;
    top: calc(50% - 9px);
    left: calc(50% - 9px);
}

.des_grupo {
    display: flex;
    align-items: center;
    justify-content: start;
    width: calc(45% + 20px);    
    font-weight: normal;
    flex-direction: column;
    margin-top: 5%;
}

.des_grupo h3 
{
font-size: 35px;
text-align: center;
}

.des_grupo p
{
text-align: center;
font-size: 25px;
}

.foto {
    /*Borde de las fotos*/
    width: 42%;
    border: 10px solid #fff;
    position: relative;
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, .6);
    /*Sombra detras de la foto*/
}

.foto::after {
    /*El triangulo que esta al lado de las fotos*/
    content: "";
    display: block;
    border: 20px solid transparent;
    border-left: 20px solid #fff;
    position: absolute;
    right: -50px;
    top: calc(50% - 20px);
}

.foto img {
    width: 100%;
    vertical-align: top;
    /*hace que la imagen no se mueva del centro del marco*/
}

.evento:nth-child(even) {
    flex-direction: row-reverse;
    /*hace que el lo que esta adentro se coloque al reves*/
}

.evento:nth-child(even) .fecha {
    justify-content: end;
    /*hace que las fechas se justifiquen*/
}

.evento:nth-child(even) .foto::after {
    /*Este no se que hace*/
    content: "";
    border: 20px solid transparent;
    border-right: 20px solid #fff;
    right: initial;
    left: -50px;
}

/* footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}